@import "bootstrap";

$theme-colors:(
    "primary": #4d446c,
    "secondary":#86a43f,
);
.carousel-control-prev-icon {
  background-image: url(../../img/flechaizq.png)!important;
}
.carousel-control-next-icon {
  background-image: url(../../img/flechader.png)!important;
}
.carousel-caption h2{
  font-family: 'Montserrat Light', arial;
  font-size: 66px!important;
  font-weight: 400;
}
.carousel-caption span{
  color: theme-color("secondary");
  font-size: 66px!important;
  font-family: 'Montserrat Bold', arial;
  font-weight: 700;
}